.idea/
.vs/
/AutoService/bin/
/AutoService/obj/

/AutoService.BLL/bin/
/AutoService.BLL/obj/
/AutoService.DAL/bin/
/AutoService.DAL/obj/
/IAutoService.BLL/bin/
/IAutoService.BLL/obj/
/IAutoService.DAL/bin/
/IAutoService.DAL/obj/

/AutoService.PL/bin/
/AutoService.PL/obj/
