@page
@model ContractModel

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to deasdfastail your site's privacy policy.</p>
@{
    String s = "dgdf";
}

<p>@s</p>